BobosBigAdventure3/Library
BobosBigAdventure3/Temp
BobosBigAdventure3/Build
BobosBigAdventure3/Obj
BobosBigAdventure3/*.pidb
BobosBigAdventure3/*.unityproj
BobosBigAdventure3/*.sln
BobosBigAdventure3/*.userprefs
BobosBigAdventure3/*.swp
BobosBigAdventure3/*.csproj